html{
    height: 100%;
}
body {
    background-image: url(https://st2.depositphotos.com/2251265/7071/i/450/depositphotos_70718015-stock-photo-vintage-tools-of-barber-shop.jpg);
    background-size: 100vw 100vh;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

form {
    width: 450px;
    margin: auto;
    background: rgba(0, 0, 0, 0.4);
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 20px;
    border-radius: 7px;
}

h2 {
    color: white;
    text-align: center;
    margin: 0;
    font-size: 30px;
    margin-bottom: 20px;
}

input,
textarea {
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 17px;
}

textarea {
    min-height: 100px;
    max-height: 200px;
    max-width: 100%;
}

#boton {
    background: rgba(0, 0, 0, 0.7);
    color: wheat;
}

#boton:hover {
    cursor: pointer;
}
.box__copyright {
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 40px;
}

.box__copyright p {
    margin-top: 20px;
    color: rgba(42, 253, 0, 0.685);
}

.box__copyright hr {
    border: none;
    height: 1px;
    background-color: #7a7a7a;
}